{% extends 'base.html.twig' %}

{% block title %}TopVentes{% endblock %}

{% block body %}
    <h1 class="mt-5">Bienvenue sur le site TopVentes</h1>
    <a href="{{ path('app_product') }}" class="btn btn-primary">VOIR TOUS LES PRODUITS</a>
{% endblock %}
